/*** Custom Properties ***/
:root {
  --first-color: #d90062;
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  /* --link-color: #337ab7; */
  --link-color: #285f8f;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: 'Poppins', sans-serif;
  --max-width: 1200px;
  --header-height: 6rem; 
}

/*** Reset ***/

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px; /* fijo en px porque el rem es basado en el tamaño de la tipografia del elemento root(html) */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color)
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
 margin: 0;
 font-size: 2rem; 
}

h2 {
  margin: 0;
  font-size: 1.5rem; 
 }

 h3 {
  margin: 0;
  font-size: 1.25rem; 
 }

 h4 {
  margin: 0;
  font-size: 1rem; 
 }

 h5 {
  margin: 0;
  font-size: 0.85rem; 
 }

 h6 {
  margin: 0;
  font-size: 0.7rem; 
 }

 img {
  max-width: 100%;
  height: auto;
 }

 p {
  line-height: 1.6;
 }

/*** Components ***/

  /*** Carousel ***/

  /*animation */
  @keyframes carousel-slide {
    0% {
      transform: translateX(0%);
    }

    25% {
      transform: translateX(-25%);
    }

    50% {
      transform: translateX(-50%);
    }

    75% {
      transform: translateX(-75%);
    }
  }

  .carousel {
    margin: 2rem auto;
    padding: 2rem 0;
    max-width: 800px;
    text-align: center;
    background-color: var(--carousel-bg-color);
    overflow-x: hidden;
  }

  .carousel .slides {
    padding-left: 0; /* Por defecto tiene un padding left las li pero asi lo resetamos a 0 */
    /* Por cada slide tenemos que sumar un 100% al ancho como tenemos 4 son 400% esto se va uno alado de otro */
    width: 400%;
    display: flex;
    list-style: none;
    transition: transform .5s ease-in-out;
    animation: carousel-slide 12s ease-in-out 3s;
  }

  .carousel input {
    display: none;
  }

  .carousel label {
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .25rem;
    display: inline-block; /*Esto es para las etiquetas que trabajan en linea tambien tengan trabajo en bloque */
    width: .75rem;
    height: .75rem;
  }

  /* Esto ~ mueve los hermanos que tiene alado en este ejm mueve a la ul */
  #slide-1:checked ~ .slides {
    /* Este porcentaje se divide para el numero de slides que tenemos, tenemos 4 seria 25% siendo (+) der y (-) izq */
    transform: translateX(0%);
  }

  #slide-2:checked ~ .slides {
    transform: translateX(-25%);
  }

  #slide-3:checked ~ .slides {
    transform: translateX(-50%);
  }

  #slide-4:checked ~ .slides {
    transform: translateX(-75%);
  }

  #slide-1:checked ~ .slides-nav label#dot-1 {
    background-color: var(--gray-dark-color);
  }

  #slide-2:checked ~ .slides-nav label#dot-2 {
    background-color: var(--gray-dark-color);
  }

  #slide-3:checked ~ .slides-nav label#dot-3 {
    background-color: var(--gray-dark-color);
  }

  #slide-4:checked ~ .slides-nav label#dot-4 {
    background-color: var(--gray-dark-color);
  }


  /****** Hero Image *******/
  .hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Para que la imagen de backgroun no tenga scroll, por defecto es scroll si le colocamos fixed esta imagen siempre queda fija detras del contenido y no se scrollea con todo el contenido.*/
    background-attachment: var(--hero-attachment);
  }

  .hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--hero-opacity-color);
  }

  .hero-image-title {
    font-size: 7.5vw; /* Con medida del viewport podemos hacer responsivo el texto sin necesidad de MQ */
    color: var(--hero-text-color);
  }

 /* Menú */
 .menu-btn {
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
 }

 .menu-btn svg {
    fill: var(--first-color)
 }

 .menu {
  position: fixed; /* En posicion: fixed, pierde sus propiedades de alto y ancho por lo cual le damos witdh 100% */
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none; /* Para que algun elemento no tenga interactividad. como curosres pointer */
  transition: opacity 1s ease;
 }

 .menu.is-active {
  opacity: 1;
  pointer-events: auto;
 }

 .menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
 }
  
 .menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
 }

 /****** MODAL *******/
 .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
 }

 .modal-content {
  position: relative;
 }

 .modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
 }

 .modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
 }

 /* Es como una REGEX en css, que dice que en en el selctor modal tenemos un id que empieza por trabajo, con esto abre todas la modales para cada portfolio en este caso */
 .modal[id|="trabajo"]:target {
    opacity: 1;
    pointer-events: auto;
 }

 /* Progress Bar */
  progress {
    width: 100%;
    height: 1rem;
    background-color: var(--gray-color);
  }

    progress::-webkit-progress-bar {
      background-color: var(--gray-color); /* Da color a la barra progress el sobrante del porcentaje */
    }

    progress::-webkit-progress-value {
      background-color: var(--gray-dark-color); /* Da color a la barra progress al porcentaje */
    }

    progress::-moz-progress-value {
      background-color: var(--gray-dark-color); /* Para Firefox */
    }

    .progress {
      margin: 1rem auto;
    }

    .progress > p {
      margin: 0;
      display: flex;
      justify-content: space-between;
      font-size: .85rem;
    }


 @media screen and (min-width: 1024px) {
    .menu-btn {
      display: none;
    }

    .menu {
      position: static;
      width: auto;
      flex-direction: row;
      opacity: 1;
      pointer-events: auto;
    }

    .menu a {
      padding: 0 1rem;
    }

    .menu a:last-childc{
      padding-right: 0;
    }

    .menu a:hover {
      background-color: transparent;
    }
 }


/*** Utilities (Helper Classes) ***/

  .avatar {
    /* Para un redondeado perfecto las imagenes deben ser siempre cuadras x ejm 400x400 */
    border-radius: 50%;
    width: 150px;
  }

  .bg-gray-light {
    background-color: var(--gray-light-color);
  }

  .btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
  }

  .box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  }

  .container {
    /* Container para que se centre siempre al llegar a su máxima anchura */
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
  }

  .gray-scale {
    filter: grayscale(1);
  }

  .none {
    display: none;
  }

  .section {
    padding: 2rem 1rem;
  }

  .section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    color: var(--title-color);
    padding: .5rem 1rem;
    text-align: center;
    width: 260px;
    margin: 2rem auto;
  }

  .text-first-color {
    color: var(--first-color);
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  @media screen and (min-width: 1024px) {
    /* Full screen esto hace que cada section tenga un 100% de width y height, esto nos sirve para que cada section se muestre unica no que se vean las secciones de abajo, esto se da mucho en las landing page */
    .full-lg-screen {
      width: 100%;
      min-height: 100vh;
    }

    .text-lg-center {
      text-align: center;
    }
  
    .text-lg-left {
      text-align: left;
    }
  
    .text-lg-right {
      text-align: right;
    } 
  }



/*** Site Styles (Styles of this project) ***/

  .about > article {
    margin-bottom: 2rem;
  }

  .contact-card {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 6px;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contact-card > svg {
    width: 2rem;
    height: 2rem;
    fill: var(--first-color);
  }

  .contact-card > small {
    margin-top: -1rem
  }

  /* First Mobile */
  .header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
  }

  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
  }

  .portfolio-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .portfolio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .portfolio-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--first-alpha-color);
    color: var(--white-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }
  
  .portfolio-card:hover .portfolio-card-info {
    opacity: 1;
    pointer-events: auto;
  }

  .portfolio-card-info > div {
    padding: 1rem;
    border: thin solid var(--white-color);
    width: 100%;
    height: 100%;
  }

  .portfolio-modal {
    padding: 1rem;
    border-radius: 6px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
  }

  .portfolio-modal h3 {
    border-bottom: medium solid var(--first-color);
    padding: .5rem 0;
    margin: 1rem auto;
    color: var(--title-color);
  }

  .portfolio-details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 2rem; /* Para dar espaciado entre filas */
  }

  .portfolio-details b {
    color: var(--first-color)
  }

  .service-card {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
  }

  .service-card svg {
    fill: var(--first-color);
    margin-bottom: 1.25rem;
    height: 3rem;
    width: 3rem;
  }

  .service-card h3 {
    color: var(--title-color);
  }

  .social-media a {
    padding: 0 .4rem;
    text-decoration: none;
  }

  .social-media svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  /* Tablet Version */
  @media screen and (min-width: 768px) {
    .contact-cards {
      display: grid;
      grid-template-columns: repeat(2, 48%);
      justify-content: space-between;
    }

    .portfolio > .container {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }

    .portfolio .section-title {
      grid-column: span 2;
    }

    .portfolio-modal {
      flex-direction: row;
      max-width: 800px;
    }

    .portfolio-info {
      margin-left: 1rem;
      align-self: center;
    }

    .services > .container {
      display: grid;
      grid-template-columns: repeat(2, 45%);
      justify-content: space-between;
      align-content: center;
    }

    .services .section-title {
      grid-column: span 2;
    }
  }

  /* Desktop Version */
  @media screen and (min-width: 1024px) {
    .about {
      display: grid;
      grid-template-columns: repeat(3, 30%);
      justify-content: space-between;
      align-content: center;
    }

    .contact-cards {
      grid-template-columns: repeat(4, 24%);
    }

    .header {
      position: sticky;
      top: 0;
      /* padding: 0.5rem; */
      /* height: calc(var(--header-height) - 0.5rem); */
    }

    .portfolio .container {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
    }

    .portfolio .section-title {
      grid-column: span 3;
    }

    .services > .container {
      grid-template-columns: repeat(3, 30%);
    }

    .services .section-title {
      grid-column: span 3;
    }
  }